.MainNav {
  @media screen and (max-width: 419px) {
    display: flex;
    flex-direction: column;
  }
}

.nav-link {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 0 #fff;
}

.nav-link:not(:last-child) {
  margin-right: 1em;

  @media screen and (max-width: 419px) {
    margin-bottom: 0.5em;
  }
}

.nav-link:hover {
  color: orangered;
}

.nav-link--active {
  color: orangered;
}
