.nav-link {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  text-shadow: 1px 1px 0 #fff;
}

.nav-link:not(:last-child) {
  margin-right: 1em;
}

.nav-link:hover {
  color: orangered;
}

.nav-link--active {
  color: orangered;
}
