body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(./images/memphis-colorful.png);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2 {
  margin-top: 0;
}
h1,
h2,
label,
button,
span {
  text-shadow: 1px 1px 0 #fff;
}
p {
  margin: 0;
}
span,
label {
  display: block;
}
button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: 0;
  border-radius: 4px;
  background-color: #ebecf0;
  cursor: pointer;
  box-shadow: -5px -5px 20px #fff, 4px 4px 10px #babecc;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
  }

  &:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}
input {
  border: 0;
  outline: 0;
  border-radius: 4px;
  background-color: #ebecf0;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
  appearance: none;
  height: 2em;
  padding: 2px 10px;

  &:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}
label {
  span {
    margin-bottom: 5px;
  }
}
