.ContactList {
  min-width: 300px;
  width: 60%;
  max-width: 100%;

  @media screen and (max-width: 419px) {
    min-width: 100%;
  }
}

.ContactList__item {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.Contact__holder {
  display: flex;
  align-items: center;
  height: 2em;
}

.Contact__name {
  margin-right: 1em;
}

.Contact__btn {
  margin-left: 1em;
  padding: 3px 8px;

  &--edit {
    margin-left: auto;
  }
}

.ContactForm--editor {
  align-items: center;
  margin-bottom: 0;
  flex-grow: 1;

  @media screen and (max-width: 419px) {
    flex-direction: row;
  }
}

.ContactForm__input--editor {
  width: 100px;
  margin-right: 1em;

  @media screen and (max-width: 419px) {
    width: 85px;
  }
}
